html,body{
    font-family: "Myriad Pro", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
b{
    font-weight: 600;
}
.as-muted{
    color: #626877;
}
.as-main-color{
    color: #00a8ff;
}

/* STATUS BAR */

.as-status-bar{
    border-bottom: solid 1px #d9dde3;
}
.as-status-bar-content{
    height: 40px;
}
.as-count{
    padding: 1px 4px 1px 4px;
    border-radius: 4px;
    background: #878d9e;
    color: #fff;
}
.as-login-link-box a{
    color: #626877;
    
}
.as-login-link-box a:hover{
    text-decoration: none;
    color: #878d9e;    
}

/* END */

/* LOGO */

.as-logo-main{
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
}
.as-logo-description{
    font-weight: 400;
}

/* END */

/* HEADER */

.as-header{
    background: #ebeff5;
}
.as-header-h{
    min-height: 106px;
}
.as-header-content{
    line-height: 18px;
}
.as-head-item{
    margin-left: 30px;
    padding-left: 40px;
}
.as-head-item:first-child{
    margin-left: 0px;
    padding-left: 0px;
}
.as-header-contacts{
    background: url('../img/phone.png') no-repeat left center;
}
.as-header-time{
    background: url('../img/cal.png') no-repeat left center;
}

.as-search-field{
    border-radius: 50px;
    border: solid 2px #00a8ff;
    color: #626877;
    padding: 8px 10px;
    font-size: 14px;
    min-width: 220px;
}
.as-search-field:focus{
    outline: none;
}

/* END */

/* MAIN MENU */

.as-main-menu{    
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background: #4d5256;
    padding: 0;
    margin: 0;
}
.as-main-menu li{
    list-style-type: none;
    background: #4d5256;
    transition: all .2s;   
}
.as-main-menu--active{
    background: #00a8ff !important;
}
.as-main-menu li a{
    padding: 6px 14px;
    display: block;
}
.as-main-menu li:hover{
    background: #666e75;
}
.as-main-menu a, .as-main-menu a:hover{
    color: #fff;
    text-decoration: none;
}

/* END */

/* CONTENT */

.as-content{
    margin-top: 20px;
}
.as-catalog-title{
    text-transform: uppercase;
    padding: 15px;
    font-weight: 600;
    border-bottom: solid 1px #d9dde3;
}
.as-cotalog-items{
    margin: 0;
    padding: 0;
    position: relative;
}
.as-cat-nav{
    background: #ebeff5;
    font-size: 14px;  
}
.as-cotalog-items li{
    list-style-type: none;
    display: block;      
    border-bottom: solid 1px #d9dde3;     
    transition: all .2s;  
    position: relative;
}
.as-cotalog-items li:hover{
    background: #dadfe7;
}
.as-cotalog-items li a{
    padding: 12px 24px 12px 16px;
    display: block;
}
.as-cotalog-items li a, .as-cotalog-items li a:hover{
    color: #4d5256;
    text-decoration: none;
}
.as-arr{
    position: absolute;
    top: 15px;
    right: 12px;
}


